*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    height: 200px;
    width: 100%;
}

.header{
    height: 70px;
    background-color: rgb(62,115,232);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logo_img img{
    height: 55px;
    width: 100px;
}